body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Para permitir el posicionamiento absoluto de otros elementos */
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('IMG_2800.jpg');
    background-size: contain; /* Ajusta el tamaño de la imagen sin distorsionarla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    z-index: -1; /* Coloca la imagen detrás de otros elementos */
}

.container {
    text-align: center;
    z-index: 1; /* Coloca el contenedor de los botones encima de la imagen */
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

